.cards-popular{
	flex-wrap: nowrap;
	overflow-x: auto;
	.card{
		width: calc(30% - $gap-grid-half);
		display: flex;
		align-items: center;
		&:not(:first-child){
			margin-left: 0;
		}
		&__title{
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			min-height: 2em;
			margin-top: px2rem(4);
		}
	}
	&.cards-catalogTabs{
		margin-top: $gap-grid;
		flex-wrap: wrap;
		overflow-x: unset;
		justify-content: space-between;
		.card{
			width: calc(50% - $gap-grid-half);
			margin: 0;
			box-shadow: 0 px2rem(2) px2rem(10) 0 #8090991A;
			&__img{
				aspect-ratio: 2 / 1;
				width: 100%;
				max-height: px2rem(80);
				img{
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
			&__title{
				padding: px2rem(8);
				text-align: center;
			}
		}
	}
}
.cards-cafe{
	flex-wrap: nowrap;
	overflow-x: auto;
	margin-top: $gap-grid-half;
	& > .card{
		.card__img{
			position: relative;
			width: 100%;
			aspect-ratio: 1 / 1;
			& > img{
				width: 100%;
				height: 100%;
				object-position: center;
				object-fit: cover;
				border-radius: $gap-grid-quarter;
			}
		}
		.card__title, .card__price{
			padding: $gap-grid-quarter;
		}
		&:not(:first-child){
			margin-left: $gap-grid-octo;
		}
	}
}

.cards-places{
	flex-wrap: nowrap;
	overflow-x: auto;
	.card{
		.card__img{
			width: 100%;
			aspect-ratio: 285 / 142;
			overflow: hidden;
			& > img{
				width: 100%;
				height: 100%;
				object-position: center;
				object-fit: cover;
				border-top-left-radius: $gap-grid-quarter;
				border-top-right-radius: $gap-grid-quarter;
			}
		}
		.card__rating{
			position: absolute;
			top: px2rem(10);
			left: px2rem(10);
			padding: px2rem(2) px2rem(8) px2rem(2) px2rem(8);
			background-color: var(--ev-color-light);
			border-radius: $gap-grid-half;
			display: flex;
			align-items: center;
			.icon.star{
				width: px2rem(20);
				height: px2rem(20);
				background-color: var(--ev-color-black);
				margin-right: px2rem(4);
			}
		}
	}
}