.cards-cafe{
	flex-wrap: nowrap;
	overflow-x: auto;
	margin-top: $gap-grid-half;
	& > .card{
		.card__img{
			width: 100%;
			aspect-ratio: 1 / 1;
			& > img{
				width: 100%;
				height: 100%;
				object-position: center;
				object-fit: cover;
				border-radius: $gap-grid-quarter;
			}
		}
		.card__title, .card__price{
			padding: $gap-grid-quarter;
		}
		&:not(:first-child){
			margin-left: $gap-grid-octo;
		}
	}
}

.cards-places{
	flex-wrap: nowrap;
	overflow-x: auto;
	.card{
		.card__img{
			width: 100%;
			aspect-ratio: 285 / 142;
			overflow: hidden;
			& > img{
				width: 100%;
				height: 100%;
				object-position: center;
				object-fit: cover;
				border-top-left-radius: $gap-grid-quarter;
				border-top-right-radius: $gap-grid-quarter;
			}
		}
	}
}