.favorite{
	width: px2rem(40);
	height: px2rem(40);
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--ev-color-light);
	cursor: pointer;
	&::before{
		content: "";
		display: flex;
		@include icon('favorite', 'mask');
		background-color: var(--ev-color-accent);
		width: px2rem(21);
		height: px2rem(19);
	}
}