.inputbox{
	width: 100%;
	height: 100%;
	margin-bottom: px2rem(2);
	input:not([type=submit]):not([type=checkbox]):not([type=radio]){
		width: 100%;
		height: 100%;
		border-radius: px2rem(8);
		padding: px2rem(24) px2rem(32);
		box-shadow: px2rem(3) px2rem(7) px2rem(14) px2rem(0) var(--ev-color-mainGrayTransparent);
		background-color: var(--ev-color-addColdWhite);

		&, &::placeholder{
			color: var(--ev-color-addGray);
		}
	}
	&.input-check > label {
		display: flex;
		align-items: center;
		.check {
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			width: px2rem(20);
			height: px2rem(20);
			aspect-ratio: 1 / 1;
			border-radius: px2rem(4);
			border: px2rem(2) solid var(--ev-color-addColdWhite);
			position: relative;
			margin-right: px2rem(16);
			&::after {
				content: "";
				display: block;
				width: px2rem(12);
				height: px2rem(11);
				@include icon('checked', 'bg');
				opacity: 0;
				transition: opacity 0.3s ease-in-out;
			}
		}
	}
	input[type=checkbox]{
		display: none;
		&:checked ~ .check {
			&::after {
				opacity: 1;
			}
		}
	}
}