.ItemPage{
	&__global{
		width: 100%;
		background-color: var(--ev-color-light);
		padding: $gap-grid-half 0 0 0;
		&__text{
			padding: $gap-grid-quarter 0;
		}
		&__slider{
			position: relative;
			.slider{
				overflow-x: auto;
				flex-wrap: nowrap;
			}

			&__item{
				aspect-ratio: 1 / 1;
				margin-right: $gap-grid-quarter;
				margin-left: 0;
				width: calc(100% - $gap-grid);
				& > img{
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
					border-radius: $gap-grid-quarter;
				}
			}
			.favorite{
				position: absolute;
				top: $gap-grid-quarter;
				left: $gap-grid-quarter;
				z-index: 1;
			}
		}
	}

	&__Nav{
		background-color: var(--ev-color-light);
		position: sticky;
		width: 100%;
		z-index: 3;
	}

	&__Description{
		margin-top: $gap-grid;
		padding: $gap-grid-half 0 0 0;
		background-color: var(--ev-color-light);

		.tags{
			flex-wrap: wrap;
			overflow: unset;
			&__item{
				margin-bottom: calc(($gap-grid-half / 4) * 3);
				margin-right: $gap-grid-quarter;
				background-color: var(--ev-color-mainGray);
			}
		}
	}

	&__Popular{
		margin-top: $gap-grid;
		padding: $gap-grid-half 0;
		background-color: var(--ev-color-light);
	}

	&__Menu{
		margin-top: $gap-grid;
		padding: $gap-grid-half 0 0 0;
		background-color: var(--ev-color-light);
	}

	&__Reviews{
		margin-top: $gap-grid;
		padding: $gap-grid-half 0 0 0;
		background-color: var(--ev-color-light);
		&__titleRow{
			padding-bottom: $gap-grid-half;
		}
		.reviews__item{
			border-bottom: px2rem(1) solid var(--ev-color-secondGray);
		}
		.button__wrap{
			padding: $gap-grid-half;
			margin-bottom: $gap-grid-half;
		}
	}

	&__contacts{
		margin-top: $gap-grid;
		padding: $gap-grid-half 0 0 0;
		background-color: var(--ev-color-light);

		.icon.mapobject{
			display: inline-flex;
			background-color: var(--ev-color-accent);
			margin-right: $gap-grid-quarter;
			width: px2rem(9);
			height: px2rem(13);
		}

		.addressItem__text{
			border-top: px2rem(1) solid var(--ev-color-secondGray);
		}
	}

	&__places{
		margin-top: $gap-grid;
		padding: $gap-grid-half 0 0 0;
		background-color: var(--ev-color-light);
	}

}

