.mainPage{

  &__popular{
    padding: $gap-grid-half 0;
  }

  &__filter{
    margin-top: $gap-grid;
    padding: $gap-grid-half 0;
    background-color: var(--ev-color-light);
  }

  &__places{
    background-color: var(--ev-color-light);
    padding: $gap-grid-half 0;
  }

  &__mapButton{
    padding: $gap-grid 0;
    .icon{
      background-color: var(--ev-color-light);
      width: px2rem(24);
      height: px2rem(24);
      margin-right: $gap-grid-quarter;
    }
  }

  &__interesting{
    margin-top: $gap-grid;
    padding: $gap-grid-half 0;
    background-color: var(--ev-color-light);
  }

}