.filter{
  .searchForm{
    .inputbox{
      width: 100%;
      display: flex;
      align-items: center;
      border-radius: $gap-grid-half;
      background-color: var(--ev-color-lightGray);
      padding: px2rem(12) $gap-grid-half;
      .icon.search{
        background-color: var(--ev-color-mainGray);
        width: px2rem(20);
        height: px2rem(20);
        margin-right: px2rem(12);
      }
      .icon.filter{
        background-color: var(--ev-color-accent);
        width: px2rem(24);
        height: px2rem(24);
      }
      input[type=text]{
        width: calc(100% - (px2rem(20) + px2rem(24) + px2rem(14) + px2rem(12)));
        background-color: transparent;
        height: px2rem(20);
      }
    }
    .tags-filled{
      margin: $gap-grid-half 0 0 0;
    }
  }
}