.tags{
	padding: $gap-grid-quarter 0;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	&__item{
		padding: $gap-grid-octo $gap-grid-quarter;
		white-space: nowrap;
		background-color: var(--ev-color-lightGray);
		&:not(:last-child){
			margin-right: $gap-grid-quarter;
		}
	}

	&-filled{
		padding: 0;
		.search_input{
			display: none;
		}
		.search_tag{
			padding: px2rem(4) px2rem(12);
			border-radius: px2rem(8);
			background-color: transparent;
			transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
			margin-right: px2rem(4);
		}
		.search_input:checked + .search_tag, .search_tag.active{
			background-color: var(--ev-color-accent);
			color: var(--ev-color-light);
		}
	}

}

