.accordeon{
	width: 100%;
	&__item{
		width: 100%;
		&--header{
			display: flex;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;
			&::after{
				content: 'â¯';
				display: block;
				transform: rotate(90deg);
				transition: transform 0.3s ease-in-out;
				margin-left: $gap-grid-half;
			}
		}
		&--content{
			opacity: 0;
			height: 0;
			display: none;
			transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
		}
	}
	&__item.open > &__item--content{
		opacity: 1;
		height: auto;
		display: block;
	}
	&__item--header:hover::after, &__item.open > &__item--header::after{
		transform: rotate(270deg);
	}
}