.cards{
	align-items: center;
}

.card{
	padding: px2rem(24);
	background-color: var(--ev-color-mainWhite);
	border-radius: px2rem(24);
	border: 1px solid transparent;
	transition: border 0.3s ease-in-out;

	&:hover{
		border-color: var(--ev-color-mainBlue);
	}

	&__header, &__text, &__price{
		margin-bottom: px2rem(16);
	}

	&__header{
		position: relative;
	}

	

	&__footer{
		display: flex;
		justify-content: space-between;
		align-items: center;
		& > .button{
			border-radius: px2rem(32);
			padding: px2rem(16) px2rem(32);
		}
	}

	&__footer > &__price{
		margin-bottom: unset;
	}

	&-icon{
		aspect-ratio: 1 / 1;
		display: flex;
		justify-content: center;
		align-items: center;
		border-color: var(--ev-color-addColdBlue);
		background: var(--ev-gradient-gray);
		transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
		& *{
			color: var(--ev-color-addGray);
			transition: color 0.3s ease-in-out
		}
	}

	&__icon{
		width: px2rem(100);
		height: px2rem(100);
		background-color: var(--ev-color-addColdBlue);
		mask-size: 60%;
		-webkit-mask-size: 60%;
	}

	&-icon:hover{
		background: var(--ev-gradient-coldLightGray);
	}

	&-icon:hover &__icon{
		background-color: var(--ev-color-mainBlue);
	}

	&-icon:hover *{
		color: var(--ev-color-mainGray);
	}

	&__body > ul{
		list-style: disc;
		padding-left: px2rem(24);
	}

	&-product{
		border-width: px2rem(1);
		border-color: var(--ev-color-addColdBlue);
		box-shadow: inset 0 0 px2rem(3) transparent;
	}

	@include bp(xs, lg){
		&-product{
			.card__footer{
				display: flex;
				flex-wrap: wrap;
				& > *{
					width: 100%;
				}
				.button{
					width: fit-content;
					margin-top: px2rem(16);
				}
			}
		}
	}

	&-product:hover{
		border-color: var(--ev-color-mainBlue);
		box-shadow: inset 0 0 px2rem(3) var(--ev-color-mainBlue);
	}

	&__image{
		width: 100%;
		aspect-ratio: 372 / 221;
		padding-bottom: px2rem(24);
		& > img{
			object-fit: contain;
			object-position: center;
		}
	}

	&-review{
		border-width: px2rem(1);
		border-color: var(--ev-color-addColdBlue);
		.title, .smalltext{
			margin-bottom: px2rem(16);
		}
	}
}

.cards-icon{
	margin-bottom: px2rem(50);
	.card{
		background-color: unset;
		background: var(--ev-gradient-gray) !important;
		box-shadow: 0 px2rem(20) px2rem(30) 0 var(--ev-color-mainDarkTransparent);
		.icon{
			background-color: var(--ev-color-addColdBlue);
			width: px2rem(60);
			height: px2rem(60);
			margin-bottom: px2rem(20);
		}
	}
}

@include bp(xs, lg){
	.cards-icon{
		margin-bottom: px2rem(00);
		.card{
			margin-bottom: px2rem(20);
		}
	}
}

.steps-cards{
	align-items: stretch;
	.card{
		margin-bottom: $gap-grid;
		background-color: var(--ev-color-addColdWhite);
		border-radius: px2rem(8);
		border: px2rem(1) solid var(--ev-color-addColdBlue);
		padding: 0 px2rem(24) px2rem(24) px2rem(24);
		.card-title{
			color: var(--ev-color-mainGray);
			padding-top: px2rem(24);
			padding-bottom: px2rem(8);
		}
		.card-digit{
			display: flex;
			align-items: center;
			margin-top: px2rem(16);
			&::after{
				content: "";
				display: flex;
				width: px2rem(89);
				height: px2rem(16);
				@include icon('big-arrow', 'mask');
				background-color: var(--ev-color-addColdBlue);
				margin-left: px2rem(8);
			}
		}
		@include bp(xs, lg){
			.card-digit::after{
				width: px2rem(40);
				height: px2rem(9);
			}
		}
	}
}

@include bp(xs, lg){
	.steps-cards .card{
		padding: px2rem(16);
	}
}

.cards-catalogInfo{
	margin-top: px2rem(24);
	align-items: stretch;
	.card{
		border: none;
		padding: 0 px2rem(24) px2rem(24) px2rem(24);
		border-radius: px2rem(8);
		background-color: var(--ev-color-addColdWhite);
		.icon{
			width: px2rem(60);
			height: px2rem(60);
			margin: px2rem(20);
			background-color: var(--ev-color-addColdBlue);
			mask-size: px2rem(60);
			-webkit-mask-size: px2rem(60);
		}
		.title{
			padding: px2rem(8) 0;
			zoom: 90%;
		}
		.title, .content, .content *{
			color: var(--ev-color-mainGray);
		}
		.content ul+p{
			margin-top: px2rem(8);
		}
	}
	@include bp(xs, lg){
		.card{
			padding: px2rem(8);
			margin-bottom: $gap-grid;
		}
	}
}