.contractIntro{
  background-color: var(--ev-color-mainWhite);
  padding: px2rem(30) 0 px2rem(80) 0;
  .content{
    color: var(--ev-color-mainGray);
    margin-bottom: px2rem(40);
  }
  &__note{
    width: 100%;
    margin: 0;
    padding: px2rem(16) px2rem(24);
    border-radius: px2rem(24);
    border: px2rem(1) solid var(--ev-color-addGray);
    .title{
      margin-bottom: px2rem(16);
    }
    &--list{
      margin-top: px2rem(16);
      column-count: 4;
      column-gap: px2rem(30);
    }
  }
  &__plus{
    margin-top: px2rem(40);
    .icon{
      width: px2rem(60);
      height: px2rem(60);
      background-color: var(--ev-color-addColdBlue);
    }
    .text{
      color: var(--ev-color-mainGray);
    }
  }
}

@include bp(xs, lg){
  .contractIntro{
    padding: px2rem(16) 0;
    .breadcrumbs{
      display: none;
    }
    &__note{
      margin: px2rem(16) auto;
      width: calc(100% - (px2rem(16) * 2));
      &--list{
        column-count: unset;
        column-gap: unset;
      }
    }
  }
}

.contractInfo{
  padding: px2rem(88) 0 px2rem(81) 0;
  background-color: var(--ev-color-addColdWhite);

  &__title{
    padding: px2rem(8);
    text-transform: uppercase;
    color: var(--ev-color-mainGray);
  }

  &__content{
    margin-top: px2rem(24);
    .content{
      padding: px2rem(16) px2rem(24);
      background-color: var(--ev-color-mainWhite);
      margin-bottom: px2rem(24);
      &, & > *{
        color: var(--ev-color-mainGray);
      }
    }
  }

}