.faq{
	padding: px2rem(80) 0;
	& > .container > .row{
		align-items: stretch;
	}
	&__content{
		.h2{
			padding: px2rem(8);
			text-transform: uppercase;
			color: var(--ev-color-mainGray);
			margin-bottom: px2rem(24);
		}
	}
	&__licences{
		&--wrap{
			width: 100%;
			height: 100%;
			padding: px2rem(24);
			border-radius: px2rem(8);
			background-image: var(--ev-gradient-gray);
			&--header{
				display: flex;
				align-items: center;
				margin-bottom: px2rem(24);
				.h3{
					color: var(--ev-color-mainGray) !important;
				}
				.icon.law{
					width: px2rem(45);
					height: px2rem(45);
					background-color: var(--ev-color-addColdBlue);
					margin-right: px2rem(16);
				}
			}
			.carousel__button{
				color: var(--ev-color-addColdBlue);
				bottom: 0;
				width: px2rem(24);
				height: px2rem(24);
				&--right{
					right: 0;
				}
				&--left{
					left: 0;
				}
			}
		}
	}
}