.content > ol {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: px2rem(24);
  list-style-type: decimal;
}

@include bp(xs, lg){
  .breadcrumbs{
    display: none !important;
  }
  section{
    padding-top: px2rem(40);
    padding-bottom: px2rem(40);
  }
}

body > *:not(.filter__back, .productSection__tabs, .table){
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar{
    display: none;
  }
}