.header{
	background-color: var(--ev-color-mainWhite);
	&__top{
		padding: px2rem(16) 0;
		border-bottom: px2rem(1) solid var(--ev-color-addColdBlue);
		&-logo{
			display: flex;
			& > *{
				display: flex;
				align-items: center;
			}
			& > .logoTitle{
				width: 100%;
			}
		}
		&-contacts{
			display: flex;
			justify-content: space-between;
			&-item{
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				&--address{
					margin-top: px2rem(4);
				}
			}
		}
	}
	&__bottom{
		padding: px2rem(16) 0;
		& .nav, & .nav__list{
			width: 100%;
			display: flex;
		}
		& .nav__list{
			justify-content: space-between;
			text-transform: uppercase;

			.nav__item.dropdown{
				display: flex;
				align-items: center;
				position: relative;
				justify-content: space-between;
				border-radius: px2rem(8);
				padding: px2rem(11) px2rem(24);
				.nav__link, .nav__link:hover{
					cursor: pointer;
				}
				& .dropdown__header{
					padding: 0;
				}
				&:hover, &:hover.dropdown__header{
					cursor: pointer !important;
					background-color: var(--ev-color-addColdWhite) !important;
					transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
					box-shadow: px2rem(3) px2rem(7) px2rem(14) px2rem(0) var(--ev-color-mainGrayTransparent);
				}

				&.open, & > .dropdown__header {
					background: unset;

					&-arrow {
						cursor: pointer;
						background-color: var(--ev-color-mainDark);
						margin-left: px2rem(8);
						height: px2rem(18);
						width: px2rem(18);
						aspect-ratio: 1 / 1;
						transition: background-color 0.3s ease-in-out;
					}
				}
			}

			.nav__link{

			}

			.nav__item > ul.dropdown__content{
				display: none;
				position: absolute;
				top: px2rem(40);
				left: 0;
				overflow: hidden;
				height: fit-content;
				min-width: 100%;
				width: fit-content;
				z-index: 999;
				background-color: var(--ev-color-mainWhite);
				& > li{
					padding: px2rem(16) px2rem(24);
					& > a{
						color: var(--ev-color-mainGray);
					}
					&:hover{
						background-color: var(--ev-color-addColdWhite);
					}
				}
			}

			.nav__item:hover > ul.dropdown__content{
				display: block;
			}

		}
	}
}

@include bp(xs, lg){
	.burger{
		& > span, & > span::before, & > span::after{
			background-color: var(--ev-color-mainGray);
		}
	}

	.header{
		position: fixed;
		left: 0;
		top: 0;
		z-index: 9;
		width: 100%;
		&.open{
			background-image: var(--ev-gradient-coldLightGray);
			height: 100vh;
		}

		&__top{
			min-height: $mobileHeaderHeight;
		}

		& > .container > &__bottom{
			display: none;
			position: absolute;
			left: -100vw;
			top: calc(($mobileHeaderHeight - ($gap-grid-half)) + px2rem(24));
			width: 100%;
		}

		&.open > .container > &__top{
			box-shadow: px2rem(0) px2rem(3) px2rem(7) px2rem(0) var(--ev-color-mainGrayTransparent);
		}

		&.open > .container > &__bottom{
			display: block;
			left: 0;
			.nav__list.menu{
				flex-direction: column;
			}
		}

		&.open > .container > &__bottom > nav.nav{
			flex-direction: column;
		}

	}

	.header__bottom .nav__list .nav__item>ul.dropdown__content{
		position: unset;
	}

	.header__bottom .nav__list .nav__item.dropdown{
		flex-direction: row;
		justify-content: space-between;
		.dropdown__header-arrow{
			margin-right: $gap-grid-half;
		}
	}

	.header__bottom .dropdown{
		background-color: transparent;
	}

	.nav__item:hover > ul.dropdown__content{
		display: none !important;
	}

	.nav__item:hover > ul.dropdown__content.open{
		display: block !important;
		background-color: transparent;
		padding-top: $gap-grid-half;
	}

	.header__bottom-contacts{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.header__bottom-contacts-item{
		padding: px2rem(8) px2rem(12);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		& > .title{
			margin-top: px2rem(4);
		}
	}

	.header__bottom-contacts-text{
		margin-top: px2rem(16);
		padding-top: px2rem(24);
		margin-bottom: px2rem(24);
		width: 100%;
		text-align: center;
		border-top: px2rem(1) solid var(--ev-color-addColdBlue);
		font-style: italic;
	}

	.header__bottom-contacts-button{
		margin-top: px2rem(16);
		width: fit-content;
	}

	.header__top-contacts-item:not(:first-child){
		display: none !important;
	}

}