.intro{
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: px2rem(54) 0;
	& > .container > .glass{
		padding: px2rem(54) px2rem(56);
		& > .row{
			align-items: stretch;
		}
	}
	&__info{
		&--title, &--text, &--subtext{
			color: var(--ev-color-mainGray);
		}
		&--text, &--subtext, &--buttons{
			max-width: 80%;
		}
		&--title{
			text-transform: uppercase;
			margin-bottom: px2rem(24);
		}
		&--text{
			margin-bottom: px2rem(28);
		}
		&--buttons{
			display: flex;
			margin-bottom: px2rem(16);
			justify-content: space-between;
			& > .button{
				min-width: px2rem(206);
			}
		}
	}
	&__price{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__labels{
		position: fixed;
		flex-direction: column;
		right: px2rem(2);
		top: 0;
		height: 100%;
		justify-content: center;
		z-index: 3;
		.label{
			box-shadow: px2rem(3) px2rem(7) px2rem(14) px2rem(0) var(--ev-color-mainGrayTransparent);
			border: px2rem(1) solid var(--ev-color-mainGrayTransparent);
		}
	}
}

@include bp(xs, lg){

	.intro{
		padding: px2rem(32) 0;
		margin-top: $mobileHeaderHeight;

		& > .container > .glass{
			padding: unset;
			border-radius: unset;
			box-shadow: unset;
			background: unset;
			backdrop-filter: unset;
		}

		&__info{
			border-radius: px2rem(24);
			background-image: var(--ev-gradient-gray);
			padding: px2rem(32) px2rem(20);
			backdrop-filter: blur(px2rem(20));
			box-shadow: 0 px2rem(10) px2rem(20) 0 var(--ev-color-mainGrayTransparent);
			margin-bottom: px2rem(32);

			&--text, &--subtext, &--buttons{
				max-width: 100%;
			}

			&--buttons{
				flex-wrap: wrap;
				& > .button{
					width: 100%;
					&:first-child{
						margin-bottom: px2rem(24);
					}
				}
			}

		}

		&__price{

			&--card{
				border-radius: 0 px2rem(8) px2rem(8) 0;
				box-shadow: px2rem(0) px2rem(20) px2rem(30) 0 var(--ev-color-mainGrayTransparent);
				background-color: var(--ev-color-mainGray-80);
				margin-bottom: px2rem(32);
				*{
					color: var(--ev-color-mainWhite);
				}
			}

			&--cards{
				width: 100%;
				& .colorCard{
					height: 100%;
					&__title, &__text{
						padding: px2rem(8) 0;
					}
				}

			}

		}

	}
}