.priceSec{
	padding: px2rem(70) 0 px2rem(90) 0;
	background-size: cover;
	background-position: center;

	.glass.container{
		padding: px2rem(60);
	}

	&__header{
		align-items: center;
		.h2{
			text-transform: uppercase;
			padding: px2rem(8);
		}
		.h2, .smalltext > p{
			color: var(--ev-color-mainGray);
		}
		.smalltext{
			padding: px2rem(8) px2rem(16);
		}
	}

	&__tabs{
		margin-top: px2rem(16);
		.tabs__content{
			padding-top: px2rem(40);

			.cards > .card{
				background-color: transparent;
				border: px2rem(1) solid var(--ev-color-addColdBlue);
				&:first-child{
					margin-left: 0;
				}

				&:last-child{
					margin-right: 0;
				}
			}
		}
	}

	&__content{
		margin-top: px2rem(60);
		padding-top: px2rem(24);
		align-items: flex-end;

		&--text{
			.h2{
				text-transform: uppercase;
				margin: px2rem(8);
			}
			.text{
				padding: px2rem(8) px2rem(16);
			}
			.h4{
				padding: px2rem(16) px2rem(24);
			}
			*{
				color: var(--ev-color-mainGray);
			}

		}

		&--quote{
			padding: px2rem(32);
			.quote{
				color: var(--ev-color-mainBlue);
				text-transform: uppercase;
				text-align: right;
			}
		}
	}
}

@include bp(xs, lg){
	.priceSec{
		padding: px2rem(40) 0;
		& > .glass.container{
			width: calc(100% - (px2rem(12) * 2));
			padding: px2rem(40) px2rem(24);
			border-radius: px2rem(80) px2rem(80) 0 0;
			margin: 0 px2rem(12);
		}
		&__header{
			margin-bottom: px2rem(40);
			& .h2, & .smalltext{
				color: var(--ev-color-mainGray);
			}
			& .h2{
				padding: px2rem(8);
			}
			& .smalltext{
				padding: px2rem(8) px2rem(16);
			}
		}
		&__tabs{
			width: 100%;
			.tabs__items{
				width: 100%;
				margin-left: 0;
				justify-content: space-between;
				&-item{
					padding: px2rem(12) px2rem(32);
					margin: 0;
					&.active{
						color: var(--ev-color-mainWhite);
					}
				}
			}
			.tabs__content{
				padding: 0;
				margin-top: px2rem(40);
				&-item > .cards > .card{
					width: 100%;
					margin: 0 0 px2rem(16) 0;
					padding: px2rem(16);
					&__header > .title{
						padding: 0 px2rem(8);
					}
					&__body{
						margin-bottom: px2rem(28);
					}
				}
			}
		}
		&__content{
			padding-top: 0;
			margin-top: px2rem(20);
			.h2{
				margin: 0;
			}
			.h2, .text, .h4{
				padding: px2rem(8);
			}
			.h4 > p:first-child{
				margin-bottom: px2rem(8);
			}
		}
	}
}