.reviews{
	background-color: var(--ev-color-addColdWhite);
	padding: px2rem(80) 0;
	&__header{
		align-items: center;
		margin-bottom: px2rem(16);
		&--title .h2{
			padding: px2rem(8);
			text-transform: uppercase;
			color: var(--ev-color-mainGray);
		}
		&--button .button{
			font-weight: 400;
			text-transform: unset;
		}
	}
}

@include bp(lg, null){
	.carousel__button--left {
		left: calc((100% / 3) + px2rem(8));
	}
	.carousel__button--right {
		right: calc((100% / 3) + px2rem(8));
	}
}

@include bp(xs, lg){
	.reviews{
		padding: px2rem(40) 0;
		&__header{
			margin-bottom: px2rem(32);
			&--button > .button--secondary{
				background: var(--ev-color-mainWhite);
				color: var(--ev-color-mainGray) !important;
			}
		}
		&__slider{
			.carousel__slide{
				width: 100%;
				margin: 0;
				.card-review{
					width: calc(100% - $gap-grid);
					.button--primary{
						box-shadow: unset;
						text-transform: uppercase;
						padding: px2rem(16) px2rem(24);
					}
				}
			}
		}
	}
}