.services{
	padding: px2rem(80) 0 px2rem(32) 0;
	position: relative;
	& > *:not(::after){
		z-index: 2;
	}
	&::after{
		content: '';
		position: absolute;
		top: 20%;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-image: url('../../../../assets/images/services-bg.png');
		background-size: cover;
		opacity: 0.2;
	}
	&__header{
		margin-bottom: px2rem(36);
		align-items: center;
		&--quote{
			width: 100%;
			text-align: right;
			color: var(--ev-color-mainBlue);
		}
		&--quote, &--title{
			text-transform: uppercase;
		}
		&--title, &--text{
			color: var(--ev-color-mainGray);
		}
		&--title{
			padding: px2rem(8);
			margin-bottom: px2rem(8);
		}
		&--text{
			padding: px2rem(8) px2rem(16);
		}
	}
	&__cards{
		margin-bottom: calc(px2rem(36) - $gap-grid);
		& > .card{
			padding: px2rem(16);
			margin-bottom: $gap-grid;
			& > .card__body > .title{
				width: 100%;
				text-align: center;
			}
		}
	}
	&__button{
		&--wrap{
			display: flex;
			justify-content: center;
			margin-bottom: px2rem(16);
			margin-top: px2rem(16);
			.button{
				width: fit-content;
			}
		}
	}
}