@import "vars";

$iconSet: (

	'star': ('mask'),
	'mapobject': ('mask'),
	'menu-1': ('mask'),
	'menu-2': ('mask'),
	'menu-3': ('mask'),
	'menu-4': ('mask'),
);

@mixin icon($icon, $type, $color: null) {
	@if($type == 'mask' and $color != null) {
		mask-size: contain;
		-webkit-mask-size: contain;
		mask-position: center;
		-webkit-mask-position: center;
		mask-image: url("#{$iconPath}/#{$icon}.svg");
		-webkit-mask-image: url("#{$iconPath}/#{$icon}.svg");
		background-color: #{$color};
	} @else if($type == 'mask') {
		mask-size: contain;
		-webkit-mask-size: contain;
		mask-position: center;
		-webkit-mask-position: center;
		mask-image: url("#{$iconPath}/#{$icon}.svg");
		-webkit-mask-image: url("#{$iconPath}/#{$icon}.svg");
	} @else {
		background-image: url("#{$iconPath}/#{$icon}.svg");
	}
}

@each $icon, $properties in $iconSet {
	.icon.#{$icon} {
		@if(length($properties) == 2) {
			@include icon($icon, nth($properties, 1), nth($properties, 2));
		} @else {
			@include icon($icon, nth($properties, 1));
		}
	}
}

